html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(45,22,22,0.55),rgba(45,22,22,0.55)),url(kopi.jpg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'poppins', sans-serif;
    color: #fff5eb;
}

/* BOX */
.container {
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.isi {
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* MENU */
.menu {
    background: linear-gradient(to right, #c57844, #693825);
    list-style: none;
    margin: 0;
    padding: 18px;
    display: flex;
    justify-content: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    gap: 15px;
}

.menu li a {
    display: block;
    padding: 14px 25px;
    border-radius: 20px;
    background-color: #c57844;
    border: 2px dashed #693825;
    color: burlywood;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 10px;
}

.menu li a:hover {
    transform: scale(1.08);
    background-color: #c57844;
    color: white;
    letter-spacing: 2px;
    text-shadow: 0 0 10px white;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li a {
        width: 100%;
        text-align: center;
        border-top: 1px solid rgba(255,255,255,0.2);
    }

    .menu li a.active {
        background-color: black;
        color: white;
    }
}

/* IFRAME */
.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(63,69,81,0.16);
}

.iframe-container iframe { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

/* TEXT */
.marquee-text {
    background: linear-gradient(to right, #c57844, #693825);
    color: rgb(240, 196, 140);
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

h1 {
    margin: 25px auto;
    padding: 15px 30px;
    width: fit-content;
    background: #c57844;
    border: 2px dashed white;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: 'poppins' sans-serif;
    text-align: center;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
    animation: glow 2s infinite alternate naikTurun 3s ease-in-out;
}


h2 {
    border: 2px dashed antiquewhite ;
    border-radius: 15px;
    background-color: #c57844;
    color: white;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

p {
    border:2px dashed antiquewhite;
    border-radius: 20px;
    padding: 15px;
    background-color: #c57844;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

p a:hover { 
    text-decoration: underline;
}
