/* Place your CSS styles in this file */


         body {background-image: url('paper.gif');}

 body ul {list-style-type: none;
 background-color: brown;
 border: 4pxsold;}

 li a {display: inline-block
 justify-content: flex-start;
 align-items: center;
 color: antiquewhite; 
 text-align: left;
 margin: 0 ;
 border: none;
 font-size: 18px;
 font-weight: bold;}

iframe {width: 100%;
height: 100%;
aspect-ratio: 16 / 9;
border: none;
display: block;
margin-bottom: -5px;
overflow: hidden;
border-radius: 0 !important;}

    body marquee{ margin-top: -10px;
        background-color: brown;
        color: antiquewhite;
        padding: 10px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;}


                        