/* Place your CSS styles in this file */

h1 {
    text-align:center;
    font-family: "Source Sans Pro", Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: palevioletred;
    }
    
body {background-image: url('paper.gif');}

ul{list-style-type: none;
background-color: bisque;
border : 4pxsold palevioletred
}

li{list-style-type:none;
color: palevioletred;
}

marquee {font-size:12px;
}

.p2{text-align: center;
}

li {display:inline;
}


